@charset "utf-8";
.form{
    display: flex;
    width: 300px;
    align-items: center;
    padding-bottom: 10px;
    /* background-color: #DDFFDD; */
    justify-content: center;
}
.value{
    padding: 10px;
}
.button{
    text-align: center;
    padding-top: 10px;
}
li,ul,a{
    text-align: center;
    text-decoration: none;
    list-style: none;
    width: 300px;
    padding: 0;
}
